.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-navlink {
  display: contents;
}
.home-rectangle11 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home-navlink01 {
  display: contents;
}
.home-rectangle111 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home-navlink02 {
  display: contents;
}
.home-rectangle112 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home-navlink03 {
  display: contents;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home-navlink04 {
  text-decoration: none;
}
.home-navlink05 {
  text-decoration: none;
}
.home-navlink06 {
  text-decoration: none;
}
.home-navlink07 {
  display: contents;
}
.home-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-navlink08 {
  display: contents;
}
.home-image1 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home-navlink09 {
  display: contents;
}
.home-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.home-image3 {
  width: 100px;
  object-fit: cover;
}
.home-image4 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 467px) {
  .home-container {
    z-index: 200;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-grays-dark100);
    border-width: 1px;
    background-color: #9ceaef;
  }
  .home-rectangle11 {
    top: 419px;
    left: 65px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-rectangle111 {
    top: 644px;
    left: 158px;
    bottom: 0px;
    margin: auto;
  }
  .home-rectangle112 {
    top: 417px;
    left: 262px;
    right: 40px;
    width: 176px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .home-image {
    top: 713px;
    left: 187px;
    width: 120px;
    height: 158px;
  }
  .home-navlink04 {
    left: 193px;
    color: rgb(24, 71, 162);
    bottom: 85px;
    position: absolute;
    font-size: 30px;
  }
  .home-navlink05 {
    top: 579px;
    left: 106px;
    color: rgb(24, 71, 162);
    position: absolute;
    font-size: 30px;
    text-decoration: none;
  }
  .home-navlink06 {
    top: 583px;
    color: rgb(24, 71, 162);
    right: 42px;
    position: absolute;
    font-size: 30px;
    text-decoration: none;
  }
  .home-icon {
    top: 1px;
    fill: #095996;
    right: 1px;
    width: 46px;
    height: 51px;
    position: absolute;
  }
  .home-image1 {
    top: 431px;
    left: 83px;
    width: 153px;
    height: 135px;
    padding-bottom: 0px;
  }
  .home-image2 {
    top: 440px;
    left: 296px;
    width: 106px;
    height: 119px;
    position: absolute;
  }
  .home-image3 {
    width: 467px;
    height: 1002px;
  }
  .home-image4 {
    top: 25px;
    left: 55px;
    width: 368px;
    height: 394px;
    position: absolute;
  }
}
