.info-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.info-navlink {
  display: contents;
}
.info-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.info-link {
  display: contents;
}
.info-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.info-link1 {
  display: contents;
}
.info-icon02 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.info-link2 {
  display: contents;
}
.info-icon04 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.info-button {
  display: flex;
  flex-direction: row;
}
.info-icon06 {
  width: 24px;
  height: 24px;
}
.info-image1 {
  width: 100px;
  object-fit: cover;
}
.info-button1 {
  display: flex;
  flex-direction: row;
}
.info-icon08 {
  width: 24px;
  height: 24px;
}
.info-image2 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 467px) {
  .info-container {
    background-color: #ffffff;
  }
  .info-image {
    top: 8px;
    right: 16px;
    width: 60px;
    position: absolute;
  }
  .info-icon {
    left: 167px;
    width: 39px;
    bottom: 102px;
    height: 32px;
    position: absolute;
  }
  .info-icon02 {
    left: 168px;
    width: 39px;
    bottom: 9px;
    height: 32px;
    position: absolute;
  }
  .info-icon04 {
    left: 168px;
    width: 39px;
    bottom: 55px;
    height: 32px;
    position: absolute;
  }
  .info-text {
    left: 43px;
    bottom: 60px;
    position: absolute;
  }
  .info-text01 {
    left: 42px;
    bottom: 107px;
    position: absolute;
  }
  .info-text02 {
    left: 44px;
    bottom: 14px;
    position: absolute;
  }
  .info-button {
    top: 742px;
    left: 32px;
    width: 399px;
    height: 62px;
    position: absolute;
    margin-right: 148px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #9ceaef;
  }
  .info-icon06 {
    top: 14px;
    left: 4px;
    width: 47px;
    height: 32px;
    display: none;
    position: absolute;
  }
  .info-text03 {
    top: 750px;
    left: 43px;
    position: absolute;
    font-size: 40px;
  }
  .info-text04 {
    top: 211px;
    right: -22px;
    position: absolute;
    font-size: 18.5px;
  }
  .info-image1 {
    top: 721px;
    left: 310px;
    position: absolute;
  }
  .info-button1 {
    top: -46px;
    left: -84px;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-right: 148px;
    border-radius: var(--dl-radius-radius-round);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #68d8d6;
  }
  .info-icon08 {
    top: 14px;
    left: 4px;
    width: 47px;
    height: 32px;
    display: none;
    position: absolute;
  }
  .info-image2 {
    top: 44px;
    left: 75px;
    position: absolute;
    margin-bottom: 0px;
  }
  .info-text25 {
    top: 35px;
    right: 14px;
    position: absolute;
    font-size: 50px;
  }
}
