.restroom-location-main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restroom-location-main-icon {
  width: 24px;
  height: 24px;
}
.restroom-location-main-icon02 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-icon04 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-image {
  width: 100px;
  object-fit: cover;
}
.restroom-location-main-icon06 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-icon08 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-icon10 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-image1 {
  width: 100px;
  object-fit: cover;
}
.restroom-location-main-image2 {
  width: 100px;
  object-fit: cover;
}
.restroom-location-main-image3 {
  width: 100px;
  object-fit: cover;
}
.restroom-location-main-navlink {
  display: contents;
}
.restroom-location-main-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.restroom-location-main-navlink1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.restroom-location-main-icon14 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-navlink2 {
  display: contents;
}
.restroom-location-main-image4 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.restroom-location-main-icon16 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-icon18 {
  width: 24px;
  height: 24px;
}
.restroom-location-main-navlink3 {
  display: contents;
}
.restroom-location-main-image5 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.restroom-location-main-image6 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 467px) {
  .restroom-location-main-container {
    background-color: #ffffff;
  }
  .restroom-location-main-icon {
    top: 814px;
    fill: #e90808;
    left: 20px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-icon02 {
    top: 717px;
    fill: #09f538;
    left: 20px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-icon04 {
    top: 765px;
    fill: #e4e529;
    left: 19px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-text {
    top: 58px;
    left: 115px;
    width: 311px;
    height: 74px;
    position: absolute;
    font-size: 30px;
  }
  .restroom-location-main-text1 {
    left: 61px;
    bottom: 727px;
    position: absolute;
  }
  .restroom-location-main-image {
    top: 258px;
    left: 20px;
    width: 434px;
    height: 374px;
    position: absolute;
  }
  .restroom-location-main-icon06 {
    top: 257px;
    fill: #e4e529;
    left: 52px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-icon08 {
    top: 264px;
    fill: #09f538;
    right: 13px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-icon10 {
    top: 477px;
    fill: #e90808;
    right: 6px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-image1 {
    top: 265px;
    left: 66px;
    width: 25px;
    position: absolute;
  }
  .restroom-location-main-image2 {
    top: 272px;
    right: 25px;
    width: 25px;
    position: absolute;
  }
  .restroom-location-main-image3 {
    top: 484px;
    right: 19px;
    width: 25px;
    position: absolute;
  }
  .restroom-location-main-icon12 {
    top: 422px;
    fill: #09f538;
    left: 212px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .restroom-location-main-text2 {
    top: 727px;
    left: 84px;
    position: absolute;
  }
  .restroom-location-main-text3 {
    top: 664px;
    left: 25px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
  }
  .restroom-location-main-text4 {
    top: 826px;
    left: 84px;
    bottom: 146px;
    position: absolute;
  }
  .restroom-location-main-text5 {
    top: 778px;
    left: 84px;
    position: absolute;
  }
  .restroom-location-main-text6 {
    top: 150px;
    left: 27px;
    position: absolute;
  }
  .restroom-location-main-navlink1 {
    left: 17px;
    width: 134px;
    bottom: 30px;
    height: 62px;
    position: absolute;
    background-color: #9ceaef;
  }
  .restroom-location-main-icon14 {
    top: 14px;
    left: 4px;
    width: 47px;
    height: 32px;
    position: absolute;
  }
  .restroom-location-main-text7 {
    top: 18px;
    left: 52px;
    position: absolute;
    font-size: 22px;
  }
  .restroom-location-main-image4 {
    top: 10px;
    right: 10px;
    width: 60px;
    position: absolute;
  }
  .restroom-location-main-icon16 {
    top: 188px;
    fill: #463e3e;
    left: 33px;
    width: 30px;
    height: 48px;
    position: absolute;
    padding-bottom: 111px;
  }
  .restroom-location-main-textinput {
    top: 185px;
    left: 71px;
    width: 341px;
    height: 35px;
    position: absolute;
    border-color: #9ceaef;
    background-color: #9ceaef;
  }
  .restroom-location-main-icon18 {
    top: 188px;
    fill: #463e3e;
    left: 33px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .restroom-location-main-image5 {
    top: 430px;
    right: 216px;
    width: 25px;
    position: absolute;
  }
  .restroom-location-main-image6 {
    top: 27px;
    left: 14px;
    position: absolute;
  }
}
