.group10-group10 {
  width: 252px;
  height: 61px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(25, 62, 70, 1);
}
.group10-text {
  top: 16px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 467px) {
  .group10-group10 {
    left: 55px;
    width: 343px;
    bottom: 7px;
    height: 83px;
    margin-right: 20px;
    background-color: #68d8d6;
  }
  .group10-text {
    top: 14px;
    left: 64px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
}
