.location-indicator-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 467px) {
  .location-indicator-container {
    width: 321px;
    height: 94px;
    z-index: 100;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-grays-dark100);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fbfbfb;
  }
  .location-indicator-text {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
}
