.home1-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home1-rectangle11 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home1-navlink {
  display: contents;
}
.home1-rectangle111 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home1-rectangle112 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home1-navlink1 {
  display: contents;
}
.home1-image {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home1-navlink2 {
  text-decoration: none;
}
.home1-text {
  text-decoration: none;
}
.home1-text1 {
  text-decoration: none;
}
.home1-navlink3 {
  display: contents;
}
.home1-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home1-image1 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 228px;
  position: absolute;
  border-color: transparent;
  border-radius: 24px;
  text-decoration: none;
}
.home1-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.home1-image3 {
  width: 100px;
  object-fit: cover;
}
.home1-button {
  display: flex;
  flex-direction: row;
}
.home1-icon2 {
  width: 24px;
  height: 24px;
}
.home1-image4 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 467px) {
  .home1-container {
    z-index: 200;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-grays-dark100);
    border-width: 1px;
    background-color: #9ceaef;
  }
  .home1-rectangle11 {
    top: 419px;
    left: 65px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home1-rectangle111 {
    top: 644px;
    left: 158px;
    bottom: 0px;
    margin: auto;
  }
  .home1-rectangle112 {
    top: 417px;
    left: 262px;
    right: 40px;
    width: 176px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .home1-image {
    top: 713px;
    left: 187px;
    width: 120px;
    height: 158px;
  }
  .home1-navlink2 {
    left: 193px;
    color: rgb(24, 71, 162);
    bottom: 85px;
    position: absolute;
    font-size: 30px;
  }
  .home1-text {
    top: 579px;
    left: 106px;
    color: rgb(24, 71, 162);
    position: absolute;
    font-size: 30px;
    text-decoration: none;
  }
  .home1-text1 {
    top: 583px;
    color: rgb(24, 71, 162);
    right: 42px;
    position: absolute;
    font-size: 30px;
    text-decoration: none;
  }
  .home1-icon {
    top: 1px;
    fill: #095996;
    right: 1px;
    width: 46px;
    height: 51px;
    position: absolute;
  }
  .home1-image1 {
    top: 431px;
    left: 83px;
    width: 153px;
    height: 135px;
    padding-bottom: 0px;
  }
  .home1-image2 {
    top: 440px;
    left: 296px;
    width: 106px;
    height: 119px;
    position: absolute;
  }
  .home1-image3 {
    width: 467px;
    height: 1002px;
  }
  .home1-button {
    top: 104px;
    left: 115px;
    width: 248px;
    height: 257px;
    opacity: 0.45;
    position: absolute;
    margin-right: 148px;
    border-radius: var(--dl-radius-radius-round);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #ffffff;
  }
  .home1-icon2 {
    top: 14px;
    left: 4px;
    width: 47px;
    height: 32px;
    display: none;
    position: absolute;
  }
  .home1-image4 {
    top: 40px;
    left: 96px;
    width: 291px;
    height: 307px;
    position: absolute;
  }
}
