.shower-location-main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.shower-location-main-icon {
  width: 24px;
  height: 24px;
}
.shower-location-main-icon02 {
  width: 24px;
  height: 24px;
}
.shower-location-main-icon04 {
  width: 24px;
  height: 24px;
}
.shower-location-main-image {
  width: 100px;
  object-fit: cover;
}
.shower-location-main-navlink {
  display: contents;
}
.shower-location-main-icon06 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.shower-location-main-image1 {
  width: 100px;
  object-fit: cover;
}
.shower-location-main-icon08 {
  width: 24px;
  height: 24px;
}
.shower-location-main-icon10 {
  width: 24px;
  height: 24px;
}
.shower-location-main-navlink1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.shower-location-main-icon12 {
  width: 24px;
  height: 24px;
}
.shower-location-main-image2 {
  width: 100px;
  object-fit: cover;
}
.shower-location-main-image3 {
  width: 100px;
  object-fit: cover;
}
.shower-location-main-navlink2 {
  display: contents;
}
.shower-location-main-image4 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.shower-location-main-navlink3 {
  display: contents;
}
.shower-location-main-image5 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.shower-location-main-button {
  display: flex;
  flex-direction: row;
}
.shower-location-main-icon14 {
  width: 24px;
  height: 24px;
}
.shower-location-main-icon16 {
  width: 24px;
  height: 24px;
}
@media(max-width: 467px) {
  .shower-location-main-container {
    background-color: #ffffff;
  }
  .shower-location-main-icon {
    top: 814px;
    fill: #e90808;
    left: 20px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-icon02 {
    top: 717px;
    fill: #09f538;
    left: 20px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-icon04 {
    top: 765px;
    fill: #e4e529;
    left: 19px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-text {
    top: 75px;
    left: 116px;
    width: 311px;
    height: 74px;
    position: absolute;
    font-size: 30px;
  }
  .shower-location-main-image {
    top: 257px;
    right: 6px;
    width: 443px;
    height: 362px;
    position: absolute;
    margin-right: var(--dl-space-space-halfunit);
  }
  .shower-location-main-text01 {
    left: 61px;
    bottom: 727px;
    position: absolute;
  }
  .shower-location-main-icon06 {
    top: 291px;
    fill: #09f538;
    left: 218px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-text02 {
    top: 727px;
    left: 84px;
    position: absolute;
  }
  .shower-location-main-text03 {
    top: 664px;
    left: 25px;
    position: absolute;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
  }
  .shower-location-main-text04 {
    top: 826px;
    left: 84px;
    bottom: 146px;
    position: absolute;
  }
  .shower-location-main-text05 {
    top: 775px;
    left: 86px;
    position: absolute;
  }
  .shower-location-main-text06 {
    top: 150px;
    left: 27px;
    position: absolute;
  }
  .shower-location-main-image1 {
    top: 53px;
    left: 23px;
    width: 78px;
    height: 79px;
    position: absolute;
  }
  .shower-location-main-text07 {
    top: 334px;
    left: 234px;
    position: absolute;
  }
  .shower-location-main-icon08 {
    fill: #e90808;
    left: 327px;
    width: 51px;
    bottom: 418px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-text08 {
    top: 537px;
    right: -9px;
    width: var(--dl-size-size-large);
    position: absolute;
  }
  .shower-location-main-icon10 {
    top: 273px;
    fill: #e4e529;
    left: 46px;
    width: 51px;
    height: 39px;
    position: absolute;
  }
  .shower-location-main-navlink1 {
    left: 17px;
    width: 134px;
    bottom: 30px;
    height: 62px;
    position: absolute;
    background-color: #9ceaef;
  }
  .shower-location-main-icon12 {
    top: 14px;
    left: 4px;
    width: 47px;
    height: 32px;
    position: absolute;
  }
  .shower-location-main-text09 {
    top: 18px;
    left: 52px;
    position: absolute;
    font-size: 22px;
  }
  .shower-location-main-image2 {
    top: 503px;
    left: 336px;
    width: 25px;
    height: 25px;
    margin: 2px;
    position: absolute;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .shower-location-main-image3 {
    top: 279px;
    left: 55px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-right: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .shower-location-main-image4 {
    top: 298px;
    left: 228px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-right: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .shower-location-main-image5 {
    top: 10px;
    right: 10px;
    width: 60px;
    position: absolute;
  }
  .shower-location-main-button {
    top: 181px;
    left: 20px;
    width: 424px;
    height: 62px;
    opacity: 0.75;
    position: absolute;
    background-color: #eaf1f1;
  }
  .shower-location-main-icon14 {
    top: -32px;
    right: -24px;
    width: 47px;
    bottom: -142px;
    height: 32px;
    display: none;
    position: absolute;
  }
  .shower-location-main-icon16 {
    top: 195px;
    fill: #463e3e;
    left: 38px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .shower-location-main-textinput {
    top: 196px;
    left: 73px;
    width: 341px;
    height: 35px;
    position: absolute;
    border-color: #64b6ac;
    border-width: 0px;
    background-color: #9ceaef;
  }
}
